
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorldWeather].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorldWeather]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 2016/2/4 13:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](32) NOT NULL,
	[StateId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Temperature] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 2016/2/4 13:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](52) NOT NULL,
	[LocalName] [varchar](45) NOT NULL,
	[WebCode] [varchar](2) NOT NULL,
	[Region] [varchar](26) NOT NULL,
	[Continent] [varchar](15) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[SurfaceArea] [float] NOT NULL,
	[Population] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[States]    Script Date: 2016/2/4 13:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](50) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityId], [CityName], [StateId], [CountryId], [Latitude], [Longitude], [Temperature]) VALUES (1, N'Mountain View', 5, 5, 37.42, -122.06, CAST(268.94 AS Decimal(18, 2)))
INSERT [dbo].[Cities] ([CityId], [CityName], [StateId], [CountryId], [Latitude], [Longitude], [Temperature]) VALUES (2, N'Beijing', 6, 2, 39.93, 116.39, CAST(290.00 AS Decimal(18, 2)))
INSERT [dbo].[Cities] ([CityId], [CityName], [StateId], [CountryId], [Latitude], [Longitude], [Temperature]) VALUES (3, N'Ackworth', 9, 5, 41.36, -93.43, CAST(318.64 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [CountryName], [LocalName], [WebCode], [Region], [Continent], [Latitude], [Longitude], [SurfaceArea], [Population]) VALUES (1, N'Brazil', N'Brasil', N'BR', N'South America', N'South America', -10, -55, 8547403, 170115000)
INSERT [dbo].[Countries] ([CountryId], [CountryName], [LocalName], [WebCode], [Region], [Continent], [Latitude], [Longitude], [SurfaceArea], [Population]) VALUES (2, N'China', N'Zhongguo', N'CN', N'Eastern Asia', N'Asia', 35, 105, 9572900, 1277558000)
INSERT [dbo].[Countries] ([CountryId], [CountryName], [LocalName], [WebCode], [Region], [Continent], [Latitude], [Longitude], [SurfaceArea], [Population]) VALUES (3, N'France', N'France', N'FR', N'Western Europe', N'Europe', 47, 2, 551500, 59225700)
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([StateId], [StateName], [CountryId], [Latitude], [Longitude]) VALUES (1, N'California', 5, 37.42, -122.06)
INSERT [dbo].[States] ([StateId], [StateName], [CountryId], [Latitude], [Longitude]) VALUES (2, N'Beijing', 2, 39.93, 116.39)
INSERT [dbo].[States] ([StateId], [StateName], [CountryId], [Latitude], [Longitude]) VALUES (3, N'Iowa', 5, 43.03, -96.09)
GO
SET IDENTITY_INSERT [dbo].[States] OFF
USE [master]
GO
